<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="FILE_LOG_PATTERN" value="[%d{ISO8601}] [%t] - %-5p %c - %m%n"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <appender name="file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <file>/home/data/logs/activiti/example.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>/home/data/logs/activiti/example-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 50MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="org.apache" level="info"/>
    <logger name="org.apache.commons" level="info"/>
    <logger name="org.springframework" level="info"/>
    <logger name="org.hibernate" level="warn"/>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>